<div class="main-content">
    <div class="container-fluid">
        <div class="table">
            <div class="table-inner">
                <span class="table__goal-crease circle"></span>
                <span class="table__faceoff table__faceoff--top-left circle"></span>
                <span class="table__faceoff table__faceoff--bottom-left circle"></span>
                <span class="table__blue-line"></span>
                <span class="table__center-line"></span>
                <span class="circle"></span>
                <span class="table__blue-line table__blue-line--two"></span>
                <span class="table__faceoff table__faceoff--top-right circle"></span>
                <span class="table__faceoff table__faceoff--bottom-right circle"></span>
                <span class="table__goal-crease table__goal-crease--two circle"></span>
            </div>
        </div>
        <canvas id="canvas" class="table table--canvas" tabindex="0"></canvas>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <p class="card-category">Robot Score</p>
                    <h3 class="card-title">{{ robotScore }}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <p class="card-category">Opponent Score</p>
                    <h3 class="card-title"> {{ opponentScore }} </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <p class="card-category">Cumulative Robot Wins</p>
                    <h3 class="card-title">{{ robotCumulativeWins }}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <p class="card-category">Cumulative Opponent Wins</p>
                    <h3 class="card-title"> {{ opponentCumulativeWins }} </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <p class="card-category">Viewing Mode</p>
                    <h3 *ngIf="humanPlay" class="card-title">Playing mode</h3>
                    <h3 *ngIf="(!humanPlay)" class="card-title">Training mode</h3>
                </div>
                <div class="card-footer">
                </div>
            </div>
            <button mat-raised-button class="navbar-toggler" type="button" (click)="humanToggle()">Change mode
            </button>
        </div>
    </div>
</div>